body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #caffad;
    margin: 0;
    font-family: Arial, sans-serif;
  }
.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
.display {
    font-size: 2em;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #222;
    color: #fff;
    text-align: right;
    border-radius: 5px;
  }
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
.btn {
    font-size: 1.5em;
    padding: 20px;
    background-color: #0015ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
.btn:hover {
    background-color: #0056b3;
  }
